/AdministrationServer/.idea
/AdministrationServer/.gradle
/AdministrationServer/gradle
/AdministrationServer/repository/build
/AdministrationServer/service/build
/AdministrationServer/web/build
/AdministrationServer/repository/out
/AdministrationServer/service
/AdministrationServer/web
